{% extends 'base.html' %}
{% block content %}
<div>
  <div class="container pt-3">
    <div>
      <h4>Monitorización - Gestión de Camas</h4>
      <div class="text-right">
        <a class="btn btn-info mb-2" href="/integracion/censo">Ver todos ingresos</a>
        <a class="btn btn-primary mb-2" href="/integracion/censo/salidas">Ver todos egresos</a>
      </div>
      <div class="mb-4 mt-2">
        <form action="/">
          <input placeholder="Buscar por DNI" 
            type="text" class="form-control">
        </form>
      </div>
    </div>
    <table id="censo_table" class="table table-bordered">
    <thead>
      <tr>
        <th></th>
        <th>Fecha</th>
        <th>Servicio</th>
        <th>Estacion</th>
        <th><i class="material-icons" style="font-size:20px;color:blue">hotel</i></th>
        <th><i class="material-icons" style="font-size:20px;color:green">system_update_alt</i></th>
        <th><i class="material-icons" style="font-size:19px;color:red">input</i></th>
        <th><i class="material-icons" style="font-size:20px;color:blue">cloud_done</i> </th>
      </tr>
    </thead>
    <tbody>
      {% for x in list %}
      <tr>
        <td>{{ x.id }}</td>
        <td>{{ x.fecha }}</td>
        <td>{{ x.nombre }}</td>
        <td>{{ x.estacion }}</td>
        <td>{{ x.ncamas }}</td>
        <td>{{ x.get_n_pendientes_in }}
          <a href="/integracion/censo/?servicio_id={{ x.id }}"
          class="btn btn-info">Ingresos</a></td>
        <td>{{ x.get_n_pendientes_out }}
          <a href="/integracion/censo/salidas/?servicio_id={{ x.id }}" 
          class="btn btn-primary">Egresos</a></td>
        <td>
          <form action="/integracion/censo/servicio/synced" method="POST">
            {% csrf_token %}
            <input type="hidden" name="servicio_id" value="{{ x.id }}">
            <input name="synced" {% if x.synced %}checked{% endif %} 
              onchange="this.form.submit()" type="checkbox">
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <hr>
    <h5>Genera Censo - Servicio</h4>
    <div class="row">
      <div class="col">
        <fieldset class="border p-2 mb-4">
          <legend  class="w-auto">Registro de Grupo</legend>
          <div class="pl-4">
            <form method="POST" action="/integracion/censo/servicio/">
              {% csrf_token %}
              <div class="pb-4">
                <select name="nombre" id="servicio_combo" class="select-css">
                  <option value="-" selected="selected">-- Seleccione el Servicio -- </option>
                  {% for x in services %}
                  <option value="{{x}}">{{ x }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="pb-4">
                <label>Seleccione la estacion</label>
                <select name="estacion" id="estacion_combo" class="select-css">
                </select>
              </div>
              <div class="pb-4">
                <label>Seleccione la habitacion</label>
                <select name="habitacion" id="habitacion_combo" class="select-css">
                </select>
              </div>
              <div class="row">
                <div class="col-4">
                  <div class="form-group">
                    <label>Cantidad de camas</label>
                    <input id="inpt_ncama" name="ncamas" type="number" 
                      class="form-control"/>
                  </div>
                  <div class="form-group">
                    <button type="submit" class="btn btn-primary">Crear</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </fieldset>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block js %}
<script >
  var _data = {{ filtered|safe }};
  var _alldata = {{ alldata|safe }};
</script>
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css">
<script type="text/javascript" src="//cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.12.0/underscore-min.js"></script>
<script type="text/javascript" src="/static/censo_servicio.js?v=s211101922"></script>
{% endblock %}