{% extends 'base.html' %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col">
			<h5>Detalle de Paciente Hospitalizado</h5>
			<h5>Ingreso</h5>
			<h6 style="border:2px solid DodgerBlue; color:blue">Servicio {% if censo %}: {{ censo.servicio.nombre }}{% endif %}</h6>
			<h6>Fecha {% if censo %}: {{ censo.servicio.fecha }}{% endif %}</h6>
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>Paciente</th>
						<th>Estacion</th>
						<th>N° de Cama</th>
						<th>Admision</th>
						<th>Movimiento</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>{{ censo.paciente.text }}</td>
						<td>{{ censo.servicio.estacion }}</td>
						<th>{{ censo.ncama }}</th>
						<th>{{ censo.get_adm_text }}</th>
						<th>{{ censo.transferencia }}</th>
					</tr>
					{% if not censo.has_gone %}
					<tr>
						<td class="text-right" colspan="6">
							<a href="/integracion/censo/delete/?censo_id={{ censo.id }}" 
								class="btn btn-danger">Eliminar</a>
						</td>
					</tr>
					{% endif %}
				</tbody>
			</table>
			{% if censo.has_gone %}
			<h5>Egreso</h5>
			<table class="table table-bordered">
				<thead>
				<tr>
					<th>Fecha</th>
					<th>Alta</th>
					<th>Defuncion</th>
					<th>Transferencia</th>
					<th>Estado</th>
				</tr>
				</thead>
				<tbody>
					<tr><td>{{ censo.servicio.fecha }}</td>
						<td>{{ censo.get_alta_text }}</td>
						<td>{{ censo.get_defuncion_text }}</td>
						<td>{{ censo.get_transferencia_text }}</td>
						<td>{{ censo.salida }}</td>
					</tr>
				</tbody>
			</table>
			{% endif %}
			<div class="text-right" colspan="6">
			<a href="/integracion/censo/servicio/" 
				class="btn btn-primary">Volver a la Lista</a>
			</div>
		</div>
	</div>
</div>
{% endblock %}