{% extends 'base.html' %}
{% block content %}
    <div>
  <div class="container pt-3">
    <img src="" />
    <div>
     
      <h1>Ingresos</h1>
    </div>
    <div class="text-right">
      <a href="/integracion/censo/ingreso/">Registrar ingreso</a>
    </div>
    <table class="table table-bordered">
    <thead>
      <tr>
        <th>Paciente</th>
        <th>Servicio</th>
        <th>Estacion</th>
        <th>N° de Cama</th>
        <th>Adm.</th>
        <th>Trans</th>
        <th>Desc.</th>
        <th>Accion</th>
      </tr>
    </thead>
    <tbody>
      {% for x in censos %}
      <tr>
        <td>{{ x.paciente.text }}</td>
        <td>{{ x.servicio.nombre }}</td>
        <td>{{ x.servicio.estacion }}</td>
        <th>{{ x.ncama }}</th>
        <th>{{ x.get_adm_text }}</th>
        <th>{{ x.transferencia }}</th>
        <th><button type="button" class="btn btn-info">Ver</button></th>
        <th><button type="button" class="btn btn-danger">Mover</button></th>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>
</div>


{% endblock %}
{% block js %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
{% endblock %}