{% extends 'base.html' %}
{% block content  %}
<div class=container>
  <div class="row">
    <div class="col">
      <fieldset class="border p-2 mb-4">
        <legend  class="w-auto">Paciente</legend>
        <div class="pl-4">
          <strong>DNI: {{ censo.paciente.dni }}</strong>
        </div>
        <div class="pl-4">
          <strong>Nombres y apellidos: {{ censo.paciente.text }}</strong>
        </div>
        <div class="pl-4">
          <strong>Servicio: {{ censo.servicio.nombre }}</strong>
        </div>
        <div class="pl-4">
          <strong>Estacion: {{ censo.servicio.estacion }}</strong>
        </div>
        <div class="pl-4">
          <strong>Cama: {{ censo.ncama }}</strong>
        </div>
      </fieldset>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <fieldset class="border p-2 mb-4">
        <legend  class="w-auto">Registro de salida</legend>
        <div class="pl-4">
          <form method="POST" action="/integracion/censo/salida/">
            {% csrf_token %}
            <input type="hidden" 
              value="{{ censo.id }}"
              name="censo_id"/>
            <div class="row">
              <div class="col">
                <div class="form-check">
                  <input class="form-check-input" 
                    type="radio" 
                    value="0" 
                    name="alta" 
                    id="alta">
                  <label class="form-check-label" 
                    for="alta">
                    Defuncion
                  </label>
                </div>
              </div>
              <div class="col">
                <div class="form-check">
                  <input class="form-check-input" 
                    type="radio" 
                    name="alta" 
                    value="1" 
                    id="alta" checked>
                  <label class="form-check-label" 
                    for="alta">
                    Alta
                  </label>
                </div>
              </div>
            </div>
            <div class="form-group mt-3">
              <label for="salida">
                <strong>Transferencia a Hospitalizacion</strong>
              </label>
              <textarea name="salida" class="form-control" 
                rows="5" id="salida"></textarea>
            </div>
            <div class="form-group">
              <button type="submit" 
                class="btn btn-primary">Registrar</button>
            </div>
          </form>
        </div>
      </fieldset>
    </div>
  </div>
</div>
{% endblock %}