{% extends 'base.html' %}
{% block content  %}
<div class=container>
  <div class="row">
    <div class="col">
      <fieldset class="border p-2 mb-4">
        <legend  class="w-auto">Paciente</legend>
        <div class="pl-4">
          <strong>DNI: {{ censo.paciente.dni }}</strong>
        </div>
        <div class="pl-4">
          <strong>Nombres y apellidos: {{ censo.paciente.text }}</strong>
        </div>
        <div class="pl-4">
          <strong>Servicio: {{ censo.servicio.nombre }}</strong>
        </div>
        <div class="pl-4">
          <strong>Estacion: {{ censo.servicio.estacion }}</strong>
        </div>
        <div class="pl-4">
          <strong>N° de Cama: {{ censo.ncama }}</strong>
        </div>
      </fieldset>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <fieldset class="border p-2 mb-4">
        <legend  class="w-auto">Registro de salida</legend>
        <div class="pl-4">
          <form method="POST" action="/integracion/censo/salida/">
            {% csrf_token %}
            <input type="hidden" 
              value="{{ censo.id }}"
              name="censo_id"/>
            <div class="row">
              <div class="col mb-4">
                <select name="salida_tipo" id="salida_tipo" class="select-css">
                  <option value="---" selected="selected">-- Seleccione Tipo Salida -- </option>
                  <option value="ALTA">ALTA</option>
                  <option value="DEFU">DEFUNCION</option>
                  <option value="TRAN">TRANSFERENCIA</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <select style="display: none" name="salida_servicio" id="salida_servicio" class="select-css">
                  <option value="0" selected="selected">-- Seleccione el Servicio -- </option>
                  {% for x in services %}
                  <option value="{{x}}">{{ x }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="form-group mt-3">
              <label for="salida">
                <strong>Transferencia a Hospitalizacion</strong>
              </label>
              <textarea name="salida" class="form-control" 
                rows="5" id="salida"></textarea>
            </div>
            <div class="form-group">
              <button type="submit" 
                class="btn btn-primary">Registrar</button>
            </div>
          </form>
        </div>
      </fieldset>
    </div>
  </div>
</div>
{% endblock %}
{% block js %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.12.0/underscore-min.js"></script>
<script type="text/javascript" src="/static/censo_salida.js?v=210922"></script>
{% endblock %}