{% extends 'base.html' %}
{% block content %}
<div>
  <div class="container pt-3">
    <div>
      <h3>Censos Creados</h3>
    </div>
    <table class="table table-bordered">
    <thead>
      <tr>
        <th>Servicio</th>
        <th>Estacion</th>
        <th>N° de Cama</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for x in list %}
      <tr>
        <td>{{ x.nombre }}</td>
        <td>{{ x.estacion }}</td>
        <th>{{ x.ncamas }}</th>
        <th><a href="/integracion/censo/?censo_id={{ x.id }}" 
          class="btn btn-info">Ingreso</a></th>
        <th><a href="/integracion/censo/salidas/?censo_id={{ x.id }}" 
          class="btn btn-primary">Salidas</a></th>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <hr>
    <h2>Creacion de Censo - Grupo</h2>
    <div class="row">
      <div class="col">
        <fieldset class="border p-2 mb-4">
          <legend  class="w-auto">Registro de Grupo</legend>
          <div class="pl-4">
            <form method="POST" action="/integracion/censo/servicio/">
              {% csrf_token %}
              <div class="pb-4">
                <select name="nombre" class="select-css">
                  <option value="-" selected="selected">-- Seleccione el Servicio -- </option>
                  {% for x in services %}
                  <option value="{{x}}">{{ x }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="pb-4">
                <select name="estacion" class="select-css">
                  <option value="-" selected="selected">-- Seleccione la Estacion -- </option>
                  {% for x in services %}
                  <option value="{{x}}">{{ x }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="row">
                <div class="col-4">
                  <div class="form-group">
                    <label># de camas</label>
                    <input name="ncamas" type="number" 
                      class="form-control"/>
                  </div>
                  <div class="form-group">
                    <button type="submit" class="btn btn-primary">Crear</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </fieldset>
      </div>
    </div>
  </div>
</div>
{% endblock %}