{% extends 'base.html' %}
{% block content %}
<main class="container">
<div class="row">
  <div class="col">
    <div class="row">
      <div class="col">
        <form action="/integracion/censo/paciente/buscar/" method="POST">
          {% csrf_token %}
          <div class="input-group mb-3">
            <input type="text" 
              name="dni" 
              class="form-control" 
              placeholder="Ingrese Numero de D.N.I">
            <div class="input-group-append">
              <button class="btn btn-success" type="submit">Buscar</button>
            </div>
          </div>
        </form>
        <fieldset class="border p-2 mb-4">
          <legend  class="w-auto">Paciente</legend>
          <div class="pl-4">
            <div>
              <strong>DNI: {{ paciente.dni }}</strong>
            </div>
            <div>
              <strong>Nombres: {{ paciente.nombre }}</strong>
            </div>
            <div>
              <strong>Apellidos: {{ paciente.apellido }} </strong>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
    {% if paciente  %}
    <form method="POST" action="/integracion/censo/ingreso/">
      {% csrf_token %}
      <input type="hidden" 
        value="{{ paciente.id }}" 
        name="paciente">
      <div class="row">
        <div class="col">
          <fieldset class="border p-2">
            <legend  class="w-auto">Registro de ingreso</legend>
            <div class="pl-4 pr-4 pb-4">
              <div class="form-group">
                <select name="servicio" class="select-css">
                  <option value="-" selected="selected">-- Seleccione el Servicio -- </option>
                  {% for x in servicios %}
                  <option value="{{x.id}}">{{ x.nombre }} / {{ x.estacion }}</option>
                  {% endfor %}
                </select>
                <div class="text-right">
                  <a href="/integracion/censo/servicio/">Agregar Servicio</a>
                </div>
              </div>
              <div class="row">
                <div class="col-4">
                  <div class="form-group">
                    <label># de cama</label>
                    <input type="number" name="ncama" class="form-control"/>
                  </div>
                </div>
                <div class="col-4">
                  <div class="form-check form-switch">
                    <input name="adm" class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                    <label class="form-check-label" for="flexSwitchCheckChecked">Admision</label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <label for="transferencia">Transferencia</label>
                    <textarea 
                      name="transferencia"
                      class="form-control" 
                      rows="5" 
                      id="transferencia"></textarea>
                  </div>
                  <button type="submit" class="btn btn-primary">Registrar</button>
                </div> 
            </div>
          </fieldset>
        </div>
<!--         <div class="col-6">
          <div class="dropdown">
            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
              Seleccione Estacion
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Medicina I</a>
              <a class="dropdown-item" href="#">Medicina II</a>
              <a class="dropdown-item" href="#">Medicina III</a>
            </div>
          </div>
        </div> -->
      </div>
    </form>
    {% endif  %}
  </div>
</div>
</main>
{% endblock %}
{% block js %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
{% endblock %}