{% extends 'base.html' %}
{% block content %}
    <div>
  <div class="container pt-3">
    <div>
      <h6 style="border:2px solid DodgerBlue; color:blue">Salidas {% if servicio %}: {{servicio.nombre}}{% endif %}</h6>
      <h6>Fecha {% if censos %}: {{ servicio.fecha }}{% endif %}</h6>
    </div>
    <div class="text-right">
      <a class="btn btn-primary mb-2" href="/integracion/censo/">Ver Ingresos</a>
    </div>
    <table id="censo_table" class="table table-bordered">
    <thead>
      <tr>
        <th>Docum.</th>
        <th>Paciente</th>
        <th>Estacion</th>
        <th>Habit.</th>
        <th>N° de Cama</th>
        <th>Adm.</th>
        <th>Trans</th>
        <th>Desc.</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for x in censos %}
      <tr>
        <td>{{ x.paciente.dni }}</td>
        <td>{{ x.paciente.text }}</td>
        <td>{{ x.servicio.estacion }}</td>
        <td>{{ x.servicio.habitacion }}</td>
        <td>{{ x.ncama }}</td>
        <td>{{ x.get_adm_text }}</td>
        <td>{{ x.transferencia }}</td>
        <td><a href="{{ x.get_link }}" 
          class="btn btn-info">Ver</a></td>
        <td>
          <form action="/integracion/censo/output/synced" method="POST">
            {% csrf_token %}
            <input type="hidden" name="censo_id" value="{{ x.id }}">
            <input name="synced" {% if x.output_synced %}checked{% endif %} 
              onchange="this.form.submit()" type="checkbox">
             {% if x.output_synced %}{% else %}Pendientes{% endif %} 
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>
</div>


{% endblock %}
{% block js %}
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css">
<script type="text/javascript" src="//cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
<script type="text/javascript">
  $(document).on("ready", function() {
    $("#censo_table").DataTable();
  });
</script>
{% endblock %}