{% extends 'base.html' %}
{% load ngvar %}
{% block content %}
<main class="main font-xs">
  <div class="banner position-relative overflow-hidden p-3 p-md-5 m-md-3  bg-light">
    <div class="row">
      <div class="col-xs-12 col-md-4">

        <table class="table table-bordered">
          <thead>
            <tr><th>Ultima lectura: {{ record.get_fecha_text }} 
              <a href='/integracion/reportes/?force=true' style='float: right; color: white' class="btn btn-primary">Actualizar</a>
      </th></tr>
          </thead>
          <tbody>
            <tr>
                <td>
                  <select class="select-css" id="td_input_qty" >
                    <option value="-" selected="selected">-- Seleccione -- </option>
                    {% for x in services %}
                    <option value="{{x}}">{{ x }}</option>
                    {% endfor %}
                  </select>                  
                </td>
            </tr>
            <tr>
              <td>
<div id="collasped"></div>
              </td>
            </tr>
          </tbody>
        </table>
        
       
      </div>
      <div class="col-xs-12 col-md-8">
        <table id="detail" class="table table-bordered">
          <thead>
            <tr>
              <th>ESTACIONES</th>
              <th>DISPONIBLES</th>
              <th>OCUPADAS</th>
              <th>TOTAL</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
    </div>
    <div>
      <div class="col-xs-12 col-md-12">
        <table id="full-detail" style="width: 100%" class="table table-bordered">
          <thead>
            <tr>
              <th>AREA</th>
              <th>SERVICIO</th>
              <th>ESTACION ENF.</th>
              <th>HABIT.</th>
              <th>CAMA</th>
              <th>EST.CAMA</th>
              <th>TIPO</th>
              <th>DNI</th>
              <th>PACIENTE</th>
              <th>FECHA</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>      
    </div>
  </div>
</main>
{% endblock %}
{% block js %}
<script >
  var _data = {{ filtered|safe }};
  var _alldata = {{ alldata|safe }};
</script>
<script type="text/javascript" src="/static/reportes.js?v=2222"></script>
{% endblock %}